.main-container {
    border: 1px solid #000000;
}

.sebm-google-map-container {
    height: 300px;
    width: 600px;
}

.col-centered {
    width: 300px;
    float: none;
    margin: 0 auto;
}

.btn-custom {
    width: 600px;
    margin: 0 auto;
}

.form-custom {
    padding-top: 5px;
    float: left;
    margin: 0 auto;
}

.form-custom input {
    float: right;
    margin: 0 auto;
    width: 400px;
}

.form-custom label {
    float: left;
    padding-bottom: 6px;
    margin: 0 auto;
    width: 150px;
}