<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <sebm-google-map [latitude]="marker.lat || centerLat" [longitude]="marker.lng || centerLng" [zoom]="8" (mapClick)="mapClicked($event)">
                <sebm-google-map-marker *ngIf="marker.lat" [latitude]="marker.lat" [longitude]="marker.lng">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        {{marker.label}}
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-centered">
            <div class="form">
                <div class="form-group">
                    <button class="btn-primary" (click)="getCurrentPosition()">Get my Location</button>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Address" id="autocompleteInput">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Latitude">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Longitude">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Building #">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Street Name">
                </div>
            </div>
        </div>
    </div>
</div>