<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <sebm-google-map [latitude]="marker.lat || centerLat" [longitude]="marker.lng || centerLng" [zoom]="8" (mapClick)="mapClicked($event)">
                    <sebm-google-map-marker *ngIf="centerLat" (markerClick)="clickedMarker(marker.label)" [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="marker.draggable" (dragEnd)="markerDragEnd(marker, $event)">
                        <sebm-google-map-info-window [disableAutoPan]="true">
                            {{marker.label}}
                        </sebm-google-map-info-window>
                    </sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary btn-custom" (click)="callCurrentPosition()">Use Current Location</button>
                <div class="form-group col-md-offset-5 form-custom">
                    <div class="form-group">
                        <label>Search your location</label>
                        <input type="text" placeholder="Address" id="autocompleteInput" [value]="marker.label">
                    </div>
                    <div class="form-group">
                        <label>Building #</label>
                        <input type="text" placeholder="Building #" [value]="marker.buildingNum">
                    </div>
                    <div class="form-group">
                        <label>Street Name</label>
                        <input type="text" placeholder="Street Name" [value]="marker.streetName">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" placeholder="City" [value]="marker.city">
                    </div>
                    <div class="form-group">
                        <label>Province</label>
                        <input type="text" placeholder="Region" [value]="marker.region">
                    </div>
                    <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" placeholder="Postal Code" [value]="marker.postalCode">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>